.fif-logo{
    max-width: 20vw;
 margin: 0 auto;

}
.klubhus{
    margin: 0 auto;
    max-width:55vw ;
    padding-top: 2rem;
}
.fif-content-div{
    margin: 0 auto;
    text-align: center;
    display: grid
;
    max-width: 50vw;
}
.posts-heading{
    font-size: 3rem;
    color: white;
}
.posts-text{
    color: white;
    padding-top: 1rem;
}
.posts-img{
    max-height: 700px;
}
.slider{
    max-width: 55vw;
    margin: 0 auto;
}
.fif-content-div hr{
    color: white;
    margin-top: 3rem;
        padding-bottom: 3rem;
}
.fif-content-div video{
  margin: 0 auto;
}